body {
  width: 450px;
  margin: 0 auto;
}
#board {
  margin: 0 auto;
}
.level1 {
  width: 315px;
}
.level2 {
  width: 416px;
}
#timer {
  margin-top: 30px;
  font-size: 30px;
}
.btn {
  border: 1px solid black;
  border-radius: 60px;
  margin: 20px 0;
  padding: 10px;
  width: 80px;
  text-align: center;
}
ul {
  list-style-type: none;
  padding: 0;
}
ul li {
  display: inline-block;
  width: 100px;
  height: 100px;
  border: 1px solid black;
  border-radius: 100px;
  transition: all 1s;
}
.red {
  background-color: red;
}
.blue {
  background-color: blue;
}
.yellow {
  background-color: yellow;
}
.purple {
  background-color: purple;
}
.orange {
  background-color: orange;
}
.black {
  background-color: black;
}
.selected {
  border: 5px solid black;
}
