body {
  width: 330px;
  margin: 0 auto;
}
ul {
  list-style-type: none;
  padding: 0;
}
ul li {
  display: inline-block;
  width: 100px;
  height: 100px;
  border: 1px solid black;
  border-radius: 100px;
}
.red {
  background-color: red;
}
.blue {
  background-color: blue;
}
.yellow {
  background-color: yellow;
}
.selected {
  border: 5px solid black;
}
