.container {
  width: 770px;
  margin: 0 auto;
  border: 1px solid black;
}
.gameBoard {
  display: inline-block;
  vertical-align: top;
}
#countDown {
  position: absolute;
  top: 81px;
  left: 430px;
  font-size: 400px;
  text-align: center;
  z-index: -1;
}
#board {
  z-index: 1;
}
#controlPanel {
  width: 200px;
  display: inline-block;
  border: 1px solid black;
  padding: 20px;
}
.disableBoard {
  z-index: 5px;
  background-color: grey;
  height: 500px;
  width:420px;
}
.level1 {
  width: 330px;
  height: 330px;
  margin: 90px 50px;
  background-color: rgba(246,231,202,0.6);
  padding: 30px 20px 40px 50px;
  border-radius: 10px;
}
.level2 {
  width: 400px;
  background-color: rgba(246,231,202,0.6);
  border-radius: 10px;
  padding: 20px;
  margin: 70px 30px;
}
#timer {
  margin-top: 30px;
  font-size: 30px;
}
.btn {
  border: 1px solid black;
  border-radius: 60px;
  margin: 20px 0;
  padding: 10px;
  width: 80px;
  text-align: center;
}
ul {
  list-style-type: none;
  padding: 0;
}
ul li {
  display: inline-block;
  width: 100px;
  height: 100px;
  transition: all 0.5s;
}
.red {
  /*background-color: red;*/
  background-image: url('../media/img/element_red_diamond_glossy.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.blue {
  /*background-color: blue;*/
  background-image: url('../media/img/element_blue_diamond_glossy.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.yellow {
  /*background-color: yellow;*/
  background-image: url('../media/img/element_yellow_diamond_glossy.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.purple {
  /*background-color: purple;*/
  background-image: url('../media/img/element_purple_diamond_glossy.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.green {
  /*background-color: orange;*/
  background-image: url('../media/img/element_green_diamond_glossy.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.grey {
  /*background-color: black;*/
  background-image: url('../media/img/element_grey_diamond_glossy.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.selected {
  opacity: 0.2;
}
.disabled {
  opacity: 0.2;
}
